skred-*.wav
bozo.wav
skode
history.txt
win/*.o
win/*.exe
linux/*
skred.exe
tone.exe
wav2data
synth_parser.[ch]
synth_parser.out
lemon
itest.tcl
.idea
tmp
*.o
sok1
sok2
skred
skred-old
skred-new
scanner
.scanner-history
rle1
*.a
.sok1_history
.sok2_history
.sok_history
.skred_history
.skred_window
scope-shared
scope
miniaudio_example.js
miniaudio_example.wasm
